/.venv
*.pyc
/diffs
/revision_files
.DS_Store
/data
/pre_svn_data
temp.tsv
pre_svn_qualifier_changes_file.tsv
/valid_ids_data/*.tsv
/valid_ids_data/*.txt
/gene_changes_comments_and_pmids/*.tsv
/test_folder
/latest_genome
